extends layout

block content
  h2 Coach Data
  textarea#coachData
  button#btnSaveCoaches Save Coaches
  h2 Coachee Data
  textarea#coacheeData
  button#btnSaveCoachees Save Coachees
  script(src="/scripts/datainput.js")
