extends layout

block content
  h2 Coach Data
  textarea#coachData
  button#btnSaveCoaches Save Coaches
  h2 Grad Data
  textarea#gradData
  button#btnSaveGrads Save Grads
  script(src="/scripts/datainput.js")
